	<!-- Footer -->
<footer class="[--spacing-x:50px] overflow-hidden">
	<!-- Footer Top -->
	<div class="container-fluid !p-0">
		<div class="row [--bs-gutter-x:0px]">
			<div class="w-full !px-0 !mx-0  bg-white">
				<div class="md:pt-20 md:pb-7.5 sm:px-12.5 px-6.25 pt-12.5">
					<div class="row flex justify-between">
						<div class="xl:w-1/3 w-full wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
							<div class="mb-7.5 widget_about">
								<div class="mb-6">
									<a asp-controller="Home" asp-action="Index"><img src="@Url.Content("~/images/logo.svg")" alt="" class="w-45"></a>
								</div>
								<p class="text-2sm mb-5 leading-[1.7]"> Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam</p>
								
							</div>
						</div>
						<div class="xl:w-1/6 md:w-1/4 w-1/2 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
							<div class="mb-7.5 widget_services">
								<h2 class="footer-title">Hızlı Linkler </h2>
								<ul class="list-hover1">
									<li class="relative py-2 text-2sm leading-5 font-medium"><a asp-controller="About" asp-action="Index"><span>Hakkımda</span></a></li>
									<li class="relative py-2 text-2sm leading-5 font-medium"><a asp-controller="Service" asp-action="Index"><span>Hizmetler</span></a></li>
									<li class="relative py-2 text-2sm leading-5 font-medium"><a asp-controller="Blog" asp-action="Index"><span>Blog</span></a></li>
									<li class="relative py-2 text-2sm leading-5 font-medium"><a asp-controller="Faq" asp-action="Index"><span>SSS</span></a></li>
									<li class="relative py-2 text-2sm leading-5 font-medium"><a asp-controller="Contact" asp-action="Index"><span>İletişim</span></a></li>
								</ul>
							</div>
						</div>
						<div class="xl:w-1/4 md:w-1/4 w-1/2 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
							<div class="mb-7.5 widget-address">
								<h2 class="footer-title">Bize Ulaşın</h2>
								<ul>
									<li class="relative py-2 text-2sm leading-5 font-medium"><a href="tel:+11234567890"><i class="feather icon-phone-call text-primary text-xl"></i> +1 123 456 7890</a></li>
									<li class="relative py-2 text-2sm leading-5 font-medium"><a href="mailto:info@example.com"><i class="feather icon-mail text-primary text-xl"></i> info@example.com</a></li>
									<li class="relative py-2 text-2sm leading-5 font-medium"><a href="#"><i class="feather icon-map-pin text-primary text-xl"></i> 794 Mcallister St San Francisco, 94102</a></li>
								</ul>
							</div>


						</div>
						<div class="xl:w-1/6 md:w-1/4 w-1/2 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
							<div class="mb-7.5 widget_services">
								<h2 class="footer-title">Bizi Takip Edin</h2>
								<ul class="flex gap-6">
									<li>
										<a href="https://www.linkedin.com" target="_blank" class="text-primary">
											<i class="fa-brands fa-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com" target="_blank" class="text-primary">
											<i class="fa-brands fa-instagram"></i>
										</a>
									</li>
									<li>
										<a href="https://www.facebook.com" target="_blank" class="text-primary">
											<i class="fa-brands fa-facebook-f"></i>
										</a>
									</li>
									<li>
										<a href="https://twitter.com" target="_blank" class="text-primary">
											<i class="fa-brands fa-x-twitter"></i>
										</a>
									</li>
									<li>
										<a href="https://www.youtube.com" target="_blank" class="text-primary">
											<i class="fa-brands fa-youtube"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="w-full">
						<div class="sm:px-12.5 px-6.25">
							<div class="pt-6 pb-7.5 border-t border-black/10">
								<div class="row">
									<div class="lg:w-1/2 w-full lg:text-start text-center">
										<p class="text-sm font-medium mb-0">© <span class="current-year">2026</span> <a href="https://www.ideiocreative.com" target="_blank" class="text-primary">İdeio Creative</a> Theme. All Rights Reserved.</p>
									</div>
									@* <div class="lg:w-1/2 w-full lg:text-end text-center max-lg:mt-3.75">
										<div class="flex items-center justify-center md:justify-center xl:justify-end">
											<div class="text-sm font-medium">
												<p class="mb-0">All Rights Reserved | <a href="javascript:void(0);" class="text-primary underline"> Terms and Conditions</a> | <a href="javascript:void(0);" class="text-primary underline">Privacy Policy</a></p>
											</div>
										</div>
									</div> *@
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			

		</div>
	</div>
	<!-- Footer Top End -->
</footer>
<!-- Footer End -->