<main class="page-content sm:pt-21.5 pt-16">
<section class="lg:pt-25 lg:pb-10 pt-12.5 pb-5">
	<div class="container">
		<div class="row">
			<div class="w-full mb-7.5">
				<div class="sm:pb-7.5 pb-3.75">
						<h1 class="inline lg:text-4xxl sm:text-3xxl text-2xxl max-w-224 mb-2.5">Healthy Eating That Matters: Expert Advice for Better Nutrition</h1>
					<div class="sm:mb-7.5 mb-5">
						<ul class="flex flex-wrap items-center gap-2.5">
							<li class="bg-[rgba(var(--primary-rgb),0.1)] text-primary rounded-xxl font-medium text-2xs py-1.25 pr-3.75 pl-5.75 leading-[1.4] relative inline-flex mr-1.25 items-center gap-1 flex-wrap after:absolute after:size-1.5 after:rounded-full after:bg-primary after:left-2.5">03 May 2025</li>
							<li class="inline-flex flex-wrap items-center gap-1.5 sm:text-2xs text-xs font-medium text-secondary py-1.5 px-3">
								<i class="fa-solid fa-user text-xs text-primary mr-2 translate-y-px relative -top-px"></i>
								<a href="blog-grid.html">Zişan CİN</a>
							</li>
							
						</ul>
					</div>
					<div class="sm:rounded-3xl rounded-xxl relative overflow-hidden">
						<img loading="lazy" src="@Url.Content("~/images/blog/img1.webp")" alt="img" class="size-full object-cover">
					</div>
				</div>
				<div class="mb-15 w-full">
					<div class="dz-info">
						<div class="mb-1.25">
							<p class="lg:text-lg text-base text-secondary font-normal sm:mb-7.5 mb-3.75">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							
							<p class="lg:text-lg text-base text-secondary font-normal sm:mb-7.5 mb-3.75">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including.</p>
							
							<p class="lg:text-lg text-base text-secondary font-normal sm:mb-7.5 mb-3.75">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including.</p>
							<h3 class="text-xl mb-4">Additional information</h3>
							<p class="lg:text-lg text-base text-secondary font-normal sm:mb-7.5 mb-3.75">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							<p class="lg:text-lg text-base text-secondary font-normal sm:mb-7.5 mb-3.75">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
						</div>
						<div class="flex items-center justify-between py-3 px-4 lg:mb-15 mb-10 sm:rounded-2lg rounded-md bg-white max-md:flex-col max-md:items-baseline max-md:gap-2.5">
							
							
						</div>
						
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
</section>
</main>